.h1TextDiv {
    display: flex;
    justify-content: center;
}

.h1 {
    cursor: pointer;
    letter-spacing: 2px;
    animation: typeWriter 1.5s ease-in;
    white-space: nowrap;
    overflow: hidden;   
}

@keyframes typeWriter {
    from {
        width: 0;
    }
    to {
        width: 179px;
    }
}

.body {
    margin: 50px;
}
