.h1TextDiv {
    display: flex;
    justify-content: center;
}

.h1 {
    cursor: pointer;
    letter-spacing: 2px;
    animation: typeWriter 1.5s ease-in;
    white-space: nowrap;
    overflow: hidden;   
}

@keyframes typeWriter {
    from {
        width: 0;
    }
    to {
        width: 212px;
    }
}

.form {
    display: flex;
    justify-content: center;
}

.form p label {
    font-size: 1.5em;
}

.inputText {
    display: inline-block;
    color: black;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 19em;
    height: 1.5em;
}

.textArea {
    display: inline-block;
    color: black;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 19em;
    height: 5em;
}

.form p button {
    display: inline-block;
    font-size: 1.5em;
    font-family: "Rockwell";
    font-weight: 500;
    background-color: #B73EFB;
    padding: 6px 7px 6px 7px;
    border-radius: 10px;
}

.a {
    text-decoration: underline;
}
